@import '../../styles/settings.scss';

.component {
  flex-shrink: 0;
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 $base-size $base-size 0;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 ($base-size / 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;

  &:last-child {
    margin: 0 0 $base-size 0;
  }
}

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
  }